body {
  margin:0px;
  background-color:rgba(105, 112, 127, 0.325490196078431);
  background-image:none;
  position:static;
  left:auto;
  width:929px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:783px;
  background:inherit;
  background-color:rgba(242, 244, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2651 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:104px;
  width:375px;
  height:783px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2651 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2651_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2652 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:56px;
  width:375px;
  height:48px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2652 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2652_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2653 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u2654 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:33px;
  width:433px;
  height:62px;
  display:flex;
}
#u2654 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2654_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u2655 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:95px;
  width:30px;
  height:803px;
  display:flex;
}
#u2655 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2655_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:59px;
}
#u2656 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:839px;
  width:373px;
  height:59px;
  display:flex;
}
#u2656 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u2657 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:95px;
  width:30px;
  height:803px;
  display:flex;
}
#u2657 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2657_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:66px;
}
#u2658 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:90px;
  width:375px;
  height:66px;
  display:flex;
  font-family:'OpenSans-SemiBold', 'Open Sans SemiBold', 'Open Sans', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#30404F;
}
#u2658 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2658_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:162px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u2659 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:168px;
  width:375px;
  height:162px;
  display:flex;
  font-size:28px;
  color:#FFFFFF;
}
#u2659 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2659_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#30404F;
}
#u2660 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:182px;
  width:101px;
  height:18px;
  display:flex;
  font-size:16px;
  color:#30404F;
}
#u2660 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#69707F;
  text-align:center;
}
#u2661 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:112px;
  width:49px;
  height:28px;
  display:flex;
  font-size:14px;
  color:#69707F;
  text-align:center;
}
#u2661 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2661_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u2664 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:104px;
  width:44px;
  height:44px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:18px;
  color:#000000;
}
#u2664 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2664_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u2665 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:119px;
  width:8px;
  height:14px;
  display:flex;
}
#u2665 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2665_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:44px;
}
#u2666 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:56px;
  width:374px;
  height:44px;
  display:flex;
}
#u2666 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2666_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2667 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:44px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2668 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:214px;
  width:335px;
  height:44px;
  display:flex;
  text-align:left;
}
#u2668 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2668_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:44px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 110, 232, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2668.selected {
}
#u2668_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2669_input {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:40px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2669_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:40px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2669 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:216px;
  width:287px;
  height:40px;
  display:flex;
}
#u2669 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2669_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:40px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2669.disabled {
}
#u2670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2670 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:230px;
  width:12px;
  height:12px;
  display:flex;
}
#u2670 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2670_img.selected {
}
#u2670.selected {
}
#u2670_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
