body {
  margin:0px;
  background-color:rgba(105, 112, 127, 0.325490196078431);
  background-image:none;
  position:static;
  left:auto;
  width:902px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:723px;
  background:inherit;
  background-color:rgba(230, 231, 231, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3231 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:147px;
  width:377px;
  height:723px;
  display:flex;
}
#u3231 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3231_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u3232 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:56px;
  width:375px;
  height:60px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u3232 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3232_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:44px;
}
#u3233 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:56px;
  width:374px;
  height:44px;
  display:flex;
}
#u3233 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3233_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:83px;
  background:inherit;
  background-color:rgba(229, 230, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E6E7E7;
}
#u3234 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:787px;
  width:375px;
  height:83px;
  display:flex;
  color:#E6E7E7;
}
#u3234 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3234_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3235 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:728px;
  background:inherit;
  background-color:rgba(230, 231, 231, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3237 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:142px;
  width:374px;
  height:728px;
  display:flex;
}
#u3237 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3238 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:93px;
  width:374px;
  height:49px;
  display:flex;
}
#u3238 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3238_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-SemiBold', 'Open Sans SemiBold', 'Open Sans', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:24px;
  color:#69707F;
}
#u3239 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:97px;
  width:126px;
  height:33px;
  display:flex;
  font-family:'OpenSans-SemiBold', 'Open Sans SemiBold', 'Open Sans', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:24px;
  color:#69707F;
}
#u3239 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3239_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3240 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u3241 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:93px;
  width:44px;
  height:44px;
  display:flex;
  font-size:18px;
  color:#000000;
}
#u3241 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3241_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u3242 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:109px;
  width:8px;
  height:14px;
  display:flex;
}
#u3242 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3242_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3243 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3244 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:156px;
  width:227px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u3244 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3244_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3245_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:65px;
  height:66px;
}
#u3245 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:212px;
  width:45px;
  height:46px;
  display:flex;
}
#u3245 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3245_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#69707F;
}
#u3246 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:270px;
  width:104px;
  height:18px;
  display:flex;
  color:#69707F;
}
#u3246 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3246_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3247_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:66px;
  height:66px;
}
#u3247 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:212px;
  width:46px;
  height:46px;
  display:flex;
}
#u3247 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3247_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3248_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:66px;
  height:66px;
}
#u3248 {
  border-width:0px;
  position:absolute;
  left:762px;
  top:212px;
  width:46px;
  height:46px;
  display:flex;
}
#u3248 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3248_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#69707F;
}
#u3249 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:270px;
  width:44px;
  height:18px;
  display:flex;
  color:#69707F;
}
#u3249 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3249_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#69707F;
}
#u3250 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:270px;
  width:56px;
  height:18px;
  display:flex;
  color:#69707F;
}
#u3250 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3250_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
