.ax_default {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#69707F;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
.primary_button {
  color:#FFFFFF;
}
._形状 {
}
._图片 {
}
.button {
}
._一级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
._表单提示 {
  color:#B0B0B0;
}
._表单禁用 {
}
.line {
}
.text_field {
  color:#000000;
  text-align:left;
}
.radio_button {
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
._流程形状 {
}
._线段 {
}
._默认样式 {
}
.font_awesome_5_brand_icons {
  font-family:'Font Awesome 5 Brands', sans-serif;
  font-weight:400;
  font-style:normal;
}
.font_awesome_5_pro {
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro', sans-serif;
  font-weight:900;
  font-style:normal;
}
._文本链接 {
  color:#0000FF;
}
._鼠标悬停文本链接时 {
}
._鼠标按下文本链接时 {
}
.image {
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.icon {
}
.table_cell {
}
._文本段落1 {
  text-align:left;
}
.paragraph {
  text-align:left;
}
.heading_2 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.shape {
}
.link_button {
  color:#169BD5;
}
.ellipse1 {
}
._形状1 {
  font-family:'SourceHanSansSC-Normal', '思源黑体 Normal', '思源黑体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
._默认样式1 {
  font-family:'SourceHanSansSC-Normal', '思源黑体 Normal', '思源黑体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.icon1 {
  font-family:'SourceHanSansSC-Normal', '思源黑体 Normal', '思源黑体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.shape1 {
  font-family:'SourceHanSansSC-Normal', '思源黑体 Normal', '思源黑体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_21 {
  font-family:'SourceHanSansSC-Normal', '思源黑体 Normal', '思源黑体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.label1 {
  font-family:'SourceHanSansSC-Normal', '思源黑体 Normal', '思源黑体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.flow_shape {
}
.flow_shape1 {
}
.box_11 {
  font-family:'苹方', sans-serif;
  font-weight:400;
  font-style:normal;
}
.box_22 {
  font-family:'苹方', sans-serif;
  font-weight:400;
  font-style:normal;
}
.ellipse2 {
  font-family:'苹方', sans-serif;
  font-weight:400;
  font-style:normal;
}
._二级标题1 {
  font-family:'苹方', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.box_31 {
  font-family:'苹方', sans-serif;
  font-weight:400;
  font-style:normal;
}
.placeholder {
  font-family:'苹方', sans-serif;
  font-weight:400;
  font-style:normal;
}
.line1 {
  font-family:'苹方', sans-serif;
  font-weight:400;
  font-style:normal;
}
.image1 {
  font-family:'苹方', sans-serif;
  font-weight:400;
  font-style:normal;
}
._图片1 {
  font-family:'苹方', sans-serif;
  font-weight:400;
  font-style:normal;
}
.text_field1 {
  font-family:'苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
._文本框 {
  color:#000000;
  text-align:left;
}
._形状2 {
}
.primary_button1 {
  color:#FFFFFF;
}
._默认样式2 {
}
._图片2 {
}
.ellipse3 {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
.line2 {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
textarea, select, input, button { outline: none; }
