body {
  margin:0px;
  background-color:rgba(105, 112, 127, 0.325490196078431);
  background-image:none;
  position:static;
  left:auto;
  width:902px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:723px;
  background:inherit;
  background-color:rgba(242, 244, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3192 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:147px;
  width:377px;
  height:723px;
  display:flex;
}
#u3192 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u3193 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:56px;
  width:375px;
  height:60px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u3193 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:44px;
}
#u3194 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:56px;
  width:374px;
  height:44px;
  display:flex;
}
#u3194 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3196 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3197 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:93px;
  width:374px;
  height:49px;
  display:flex;
}
#u3197 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-SemiBold', 'Open Sans SemiBold', 'Open Sans', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#69707F;
}
#u3198 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:106px;
  width:94px;
  height:24px;
  display:flex;
  font-family:'OpenSans-SemiBold', 'Open Sans SemiBold', 'Open Sans', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#69707F;
}
#u3198 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3198_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3200 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u3201 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:98px;
  width:44px;
  height:44px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:18px;
  color:#000000;
}
#u3201 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u3202 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:113px;
  width:8px;
  height:14px;
  display:flex;
}
#u3202 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3203 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3204 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:170px;
  width:227px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u3204 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3204_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3205_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:65px;
  height:66px;
}
#u3205 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:217px;
  width:45px;
  height:46px;
  display:flex;
}
#u3205 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#69707F;
}
#u3206 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:272px;
  width:107px;
  height:18px;
  display:flex;
  color:#69707F;
}
#u3206 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3206_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3207_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:66px;
  height:66px;
}
#u3207 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:217px;
  width:46px;
  height:46px;
  display:flex;
}
#u3207 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3208_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:66px;
  height:66px;
}
#u3208 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:217px;
  width:46px;
  height:46px;
  display:flex;
}
#u3208 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3209_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:66px;
  height:66px;
}
#u3209 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:217px;
  width:46px;
  height:46px;
  display:flex;
}
#u3209 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#69707F;
}
#u3210 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:272px;
  width:44px;
  height:18px;
  display:flex;
  color:#69707F;
}
#u3210 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3210_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#69707F;
}
#u3211 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:272px;
  width:49px;
  height:18px;
  display:flex;
  color:#69707F;
}
#u3211 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3211_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#69707F;
}
#u3212 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:272px;
  width:56px;
  height:18px;
  display:flex;
  color:#69707F;
}
#u3212 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3212_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
